/.[Ii]dea/
*/__[Pp]y[Cc]ache__/
/[Cc]orpus/
/[Dd]ocuments/
/[Vv]env/
/[Pp]lots
/[Gg]enerated[Ss]truct/
/[Gg]enerated/
/[Tt]ables/
/generatedRandom/
/generatedByStructure/
test
main.py
[Dd]ictionary.pickle
*.json
*.pickle
